<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <resolveTokens>
        <processor type="Sitecore.XA.Foundation.Theming.Pipelines.ResolveTokens.ResolveThemingTokens, Sitecore.XA.Foundation.Theming" set:type="Sitecore.Support.XA.Foundation.Theming.Pipelines.ResolveTokens.ResolveThemingTokens, Sitecore.Support.6675" />
      </resolveTokens>
    </pipelines>
  </sitecore>
</configuration>